<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">

  <display-name>Online Library Management System</display-name>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.example.library.servlets.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

</web-app>